* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #8D8E8E;
}



.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #475B5A;
  overflow-x: hidden;
  padding-top: 100px;
  color: white;
}

.main {
  margin-left: 160px;
  margin-top: 100px;
  background-color: #8D8E8E;
}

.App-header {
  border: black solid 1px;
  position: fixed;
  top: 0;
  left: 160px;
  height: 100px;
  width: 100%;
  background-color: #A3A9AA;
  padding-left: 20px;
}

a {
  color: black;
}

a:visited {

  color: black;
}

button {
  background-color: #BBBBBF;
}